<h1><%= @presenter.room_name %></h1>
<h2>Tasks</h2>
<ul>
  <% @presenter.room_tasks_details.each do |task_details| %>
    <li>
      <ul>
        <% task_details.each do |detail| %>
          <li><%= detail.values_at(:label, :value).join(": ") %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
